<footer class="site-footer">
    <div class="footer-container">
        
        <div class="footer-section">
            <h4>À propos</h4>
            <p>
                <strong>BonneAffaire</strong> – Une plateforme de petites annonces simple, rapide et gratuite. 
                Notre mission : faciliter la mise en relation entre acheteurs et vendeurs partout en France.
            </p>
        </div>

        <div class="footer-section">
            <h4>Liens utiles :</h4>
            <ul>
                <li><a href="#">Conditions générales d’utilisation (CGU)</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Aide / FAQ</a></li>
                <li><a href="#">Contact</a></li>
                {% if app.user and ('ROLE_ADMIN' in app.user.roles) %}
                    <li><a href="{{ path('admin_dashboard') }}">Espace admin</a></li>
                {% endif %}

            </ul>
        </div>

        <div class="footer-section">
            <h4>Réseaux sociaux :</h4>
            <ul class="social-links">
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 320 512">
                            <path d="M279.14 288l14.22-92.66h-88.91V127.41c0-25.35 
                            12.42-50.06 52.24-50.06H293V6.26S259.5 0 
                            225.36 0c-73.14 0-121.08 44.38-121.08 
                            124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
                        </svg>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 448 512">
                            <path d="M224.1 141c-63.6 0-114.9 
                            51.3-114.9 114.9s51.3 114.9 
                            114.9 114.9 114.9-51.3 
                            114.9-114.9-51.3-114.9-114.9-114.9zm0 
                            190.7c-41.9 0-75.8-33.9-75.8-75.8s33.9-75.8 
                            75.8-75.8 75.8 33.9 75.8 75.8-33.9 
                            75.8-75.8 75.8zm146.4-194.3c0 
                            14.9-12 26.9-26.9 26.9s-26.9-12-26.9-26.9 
                            12-26.9 26.9-26.9 26.9 12 26.9 26.9zm76.1 
                            27.2c-1.7-35.7-9.9-67.3-36.2-93.6-26.3-26.3-57.9-34.5-93.6-36.2-37-2.1-148.1-2.1-185.1 
                            0-35.7 1.7-67.3 9.9-93.6 
                            36.2-26.3 26.3-34.5 57.9-36.2 
                            93.6-2.1 37-2.1 148.1 0 
                            185.1 1.7 35.7 9.9 67.3 36.2 
                            93.6 26.3 26.3 57.9 34.5 
                            93.6 36.2 37 2.1 148.1 2.1 
                            185.1 0 35.7-1.7 67.3-9.9 
                            93.6-36.2 26.3-26.3 34.5-57.9 
                            36.2-93.6 2.1-37 2.1-148.1 
                            0-185.1z"/>
                        </svg>
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 512 512">
                            <path d="M459.37 151.716h0c.325 4.548.325 9.097.325 13.645 
                            0 138.72-105.583 298.558-298.558 
                            298.558-59.452 0-114.68-17.219-161.137-47.106 
                            8.447.974 16.568 1.299 25.34 1.299 
                            49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 
                            6.498.974 12.995 1.624 19.818 1.624 
                            9.421 0 18.843-1.299 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299 
                            c13.969 7.797 30.214 12.67 47.431 13.32-28.264-18.843-46.781-51.005-46.781-87.391 
                            0-19.492 5.197-37.36 14.294-52.954 
                            51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 
                            0-57.828 46.782-104.934 104.934-104.934 
                            30.213 0 57.502 12.67 76.67 33.137 
                            23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 
                            44.833-46.132 57.827 21.117-2.273 
                            41.584-8.122 60.426-16.243-14.292 20.791-32.161 
                            39.308-52.628 54.253z"/>
                        </svg>
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" viewBox="0 0 448 512">
                            <path d="M100.28 448H7.4V148.9h92.88zM53.79 
                            108.1C24.09 108.1 0 83.5 0 53.8 0 24.1 24.09-.1 
                            53.79-.1s53.8 24.2 53.8 53.9c0 29.7-24.1 
                            53.9-53.8 53.9zM447.9 448h-92.4V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 
                            0-55.7 37.7-55.7 76.7V448h-92.4V148.9h88.7v40.8h1.3c12.4-23.5 
                            42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 
                            142.3V448z"/>
                        </svg>
                        LinkedIn
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright ©2025 <strong>BonneAffaire</strong>. Tous droits réservés.</p>
    </div>
</footer>