<header class="main-header">
  <div class="logo">
    <a href="{{ path('home') }}">
      <img src="{{ asset('images/logo.png') }}" alt="Bonne Affaire">
    </a>
  </div>

  <div class="search">
      <input type="text" placeholder="Rechercher une annonce...">
      <button><i class="fas fa-search"></i></button>
  </div>

  <div id="menu-wrapper" class="menu-wrapper">
    <div class="arrow left-arrow">&lt;</div>
    <ul id="menu" class="menu">
        <li class="item">Immobilier</li>
        <li class="item">Véhicules</li>
        <li class="item">Emploi</li>
        <li class="item">Maison & Jardin</li>
        <li class="item">Électronique</li>
        <li class="item">Loisirs</li>
        <li class="item">Autres</li>
    </ul>
    <div class="arrow right-arrow">&gt;</div>
  </div>
  
</header>

<!-- Bottom nav uniquement en mobile -->
<nav class="bottom-nav">
    <a href="#"><i class="fas fa-plus-circle"></i><span>Vendre</span></a>
    <a href="#"><i class="fas fa-heart"></i><span>Favoris</span></a>
    <a href="#"><i class="fas fa-envelope"></i><span>Messages</span></a>
    <a href="#"><i class="fas fa-user"></i><span>Mon compte</span></a>
</nav>
