{% extends 'base.html.twig' %}

{% block body %}
<h1>📊 Statistiques</h1>

<ul>
    <li>Nombre total d’utilisateurs : {{ stats.totalUsers }}</li>
    <li>Nombre total d’annonces : {{ stats.totalPosts }}</li>
    <li>Nombre total de signalements : {{ stats.totalReports }}</li>
</ul>

<a href="{{ path('admin_dashboard') }}">⬅ Retour au dashboard</a>
{% endblock %}
