@use "variables" as *;

* {
  font-family: "Poppins"!important;
  font-size: 1.6rem;
}

.title {
  color: $primary;
  font-weight: bold;
  margin-bottom: 2rem;
}

.suggestions, .news {
  margin: 2rem 0;
  padding: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background: white;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: left;
    position: relative;

    .favorite-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      background: transparent;
      border: none;
      cursor: pointer;
      background: white;
      border-radius: 40%; 
      padding: 6px 10px;
      border: none;

      img {
        width: 24px;
        height: 24px;
        transition: 0.3s;
      }
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    a {
    display: block;
    color: inherit;
    text-decoration: none;
    }

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      display: block;
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 1.2rem 0 0.2rem 0.5rem;
    }

    p {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 1.2rem 0 1.2rem 0.6rem;
    }

    span {
      font-size: 1.1rem;
      color: #555;
      margin: 0 0 0.5rem 0.5rem;
      display: block;
    }

    .date {
      font-size: 1.1rem;
      color: #888;
      margin: 0 0 0.5rem 0.5rem;
      display: block;
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      display: inline-flex;
      background: $primary;
      color: white;
      padding: .5rem 1rem;
      border-radius: $radius;
      text-decoration: none;
      font-weight: bold;
      width: auto;

      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
}