@use "variables" as *;

html {
  font-size: 62.5%;
}

html, body{
  overflow-x: hidden; 
  width: 100%;
}

* {
  font-family: "Poppins"!important;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.hide-navbar {
  display: none !important;
}

.title {
  color: $primary;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.hide-mobile {
  display: none;
}

.post-details{
  padding-left: 0!important;
  .grid{
    padding-left: 0!important;
  }
}

.suggestions, .news, .post-info {
  margin: 2rem 0;
  padding: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background: white;
    border-radius: $radius;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: left;
    position: relative;

    .favorite-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      cursor: pointer;
      background: white;
      border-radius: 40%; 
      padding: 4px 5px;
      border: none;

      img {
        width: 13px;
        height: 13px;
        transition: 0.3s;
      }
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    a {
    display: block;
    color: inherit;
    text-decoration: none;
    }

    img {
      width: 100%;
      height: 75px;
      object-fit: cover;
      display: block;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 1.2rem 0 0.2rem 0.5rem;
    }

    p {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 1.2rem 0 1.2rem 0.6rem;
    }

    span {
      font-size: 1rem;
      color: #555;
      margin: 0 0 0.5rem 0.5rem;
      display: block;
    }

    .date {
      font-size: .9rem;
      color: #888;
      margin: 0 0 0.5rem 0.5rem;
      display: block;
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      display: inline-flex;
      background: $primary;
      color: white;
      padding: .5rem 1rem;
      border-radius: $radius;
      text-decoration: none;
      font-weight: bold;
      width: auto;

      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
}

.page-banner {
  position: relative;
  background: $primary;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0 0 20px 20px;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background: white;
    border-radius: 15px;
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
  }
}

// Responsive Desktop
@media (min-width: $bp-tablet) {
  .hide-mobile {
    display: block;
  }

  .news .grid,.suggestions .grid{
    grid-template-columns: repeat(5,1fr);
    .card {
      padding: 1rem;
      
      .favorite-btn {
        right: 20px;
        top: 20px;

        img{
          width: 20px;
          height: 20px;  
        }
      }

      .post-image {
        height: 220px;
      }
  
      h3 {
        font-size: 1.8rem;
      }
  
      p {
        font-size: 1.6rem;
      }
  
      span,
      .date {
        font-size: 1.3rem;
      }

      .post-image {
        height: 225px!important;
      }
      
      img{height: 135px;}
    }

    .see-more .btn {
      font-size: 1.6rem;
      padding: 1rem 1.6rem;
    }
  }

  .post-info .grid {
    .card{
      .favorite-btn {padding: 7px 9px; img{width: 16px; height: 16px;}}
      .presentation-img { height: 225px!important; }
      h3{font-size: 1.4rem;}
      p{font-size: 1.3rem;}
      span{font-size: 1.1rem;}
    }
  }
}