@use "variables" as *;

* {
  font-family: "Poppins"!important;
  font-size: 1.6rem;
}

.title {
  color: $primary;
  font-weight: bold;
  margin-bottom: 2rem;
}

.suggestions, .news {
  margin: 2rem 0;
  padding: 1rem;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
    padding: 1rem;
  }

  .card {
    background: white;
    border-radius: $radius;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    text-align: center;
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      display: inline-flex;
      background: $primary;
      color: white;
      padding: .5rem 1rem;
      border-radius: $radius;
      text-decoration: none;
      font-weight: bold;
      width: auto;

      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
}