// Couleurs
$primary: #3367d6;
$primary-dark: #0041a8;
$secondary: #f9f9f9;
$text: #333;
$dark-grey: #5E5D5D;

// Typo
$font-main: 'Poppins', sans-serif;

// Arrondis
$radius: 8px;
$radius-lg: 16px;
$radius-sm: 4px;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
