@use "../base/variables" as *;

.menu-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.menu {
  position: relative;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  transition: left 0.3s ease;
}

.menu .item {
  font-size: 1.2rem;
  flex: 0 0 auto;
  min-width: 100px;
  text-align: center;
  padding: 1rem .8rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;

  a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }

  a:hover {
    color: white;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: white;
  padding: .3rem .5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  user-select: none;
  font-size: 0.9rem;
}

.left-arrow { left: 0; }
.right-arrow { right: 0; }

.hidden { display: none !important; }

// Responsive Desktop
@media (min-width: $bp-tablet) {
  .menu .item {
    font-size: 1.3rem;
    min-width: 150px;
  }
}