@use "../base/variables" as *;

.menu-wrapper {
  position: relative;
  overflow: hidden;
  width: 80%;
  max-width: 100%;
  margin: 1rem auto;
}

.menu {
  position: relative;
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  transition: left 0.3s ease;
}

.menu .item {
  font-size: 2rem;
  flex: 0 0 auto;
  min-width: 200px;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  
  a {
  text-decoration: none;
  color: white;
  display: inline-block;
  }

  a:hover {
  text-decoration: none;
  color: white;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #007bff;
  color: white;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.hidden {
  display: none !important;
}