@use "../base/variables" as *;

.site-footer {
  background: $primary;
  color: white;
  padding: 2rem 1rem;
  text-align: center; 

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
    align-items: center;
  }

  h4 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  p, ul li a {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0.6rem;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 1rem;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    .footer-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
      text-align: left;
      align-items: flex-start;
    }
  }
}
