@use "base/reset";
@use "base/variables" as *;
@use "base/base";
@use "base/mixins";

@use "components/scrollmenu";
@use "components/bottom-navbar";
@use "components/modal";

@use "layout/header";
@use "layout/footer";

@use "pages/form";
@use "pages/home";
@use "pages/post";
@use "pages/user";
@use "pages/message";
